@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #046404;
  --color-secondary: teal;
}

/* Custom button override */
.btn-primary {
  @apply bg-gradient-to-r from-[#046404] to-[#62f275] border-none text-white;
}
.btn-primary:hover {
  @apply opacity-90;
}